*{
	margin: 0;
	padding: 0;
}
html{
	background: url(images/bg.jpeg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #FFF;
}
.center{
	text-align: center;
}
.no-display{
	display: none;
}
section.center{
	margin-top: 50px;
}

button{
	margin-top: 20px;
	font-size: 1rem;
	padding: 10px 20px;
	color: inherit;
	background-color: #00B7A6;
	border: none;
	border-radius: 3px;
	box-shadow: 0 4px #004E47;
	position: relative;
	outline: none;
}
button:hover{
	top: 1px;
	box-shadow: 0 3px #004E47;
}
button:active{
	top: 3px;
	box-shadow: 0 1px #004E47;
}
/*Cube*/
.container {
	width: 200px;
	height: 200px;
	position: relative;
	-webkit-perspective: 1000;
	margin: 40px auto;
}
#cube {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transform-style: preserve-3d;
	-webkit-animation: testAnimation 0.5s ;
}
#cube figure {
	color: #000;
	width: 196px;
	height: 196px;
	display: block;
	position: absolute;
	border: 2px solid black;
	background-color: #FFF;
}
#cube figure span{
	width: 40px;
	height: 85px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	font-size: 5rem
}
/*Rotating the sides of the cube*/
#cube .front { -webkit-transform: rotateY(0deg); }
#cube .back { -webkit-transform: rotateX(180deg); }
#cube .right { -webkit-transform: rotateY(90deg); }
#cube .left { -webkit-transform: rotateY(-90deg); }
#cube .top { -webkit-transform: rotateX(90deg); }
#cube .bottom { -webkit-transform: rotateX(-90deg); }

#cube .front { -webkit-transform: rotateY(0deg) translateZ(100px); }
#cube .back { -webkit-transform: rotateX(180deg) translateZ(100px); }
#cube .right { -webkit-transform: rotateY(90deg) translateZ(100px); }
#cube .left { -webkit-transform: rotateY(-90deg) translateZ(100px); }
#cube .top { -webkit-transform: rotateX(90deg) translateZ(100px); }
#cube .bottom { -webkit-transform: rotateX(-90deg) translateZ(100px); }

#cube { -webkit-transform: translateZ(-100px); }

#cube.show-front { -webkit-transform: translateZ(-100px) rotateY(0deg); }
#cube.show-back { -webkit-transform: translateZ(-100px) rotateX(-180deg); }
#cube.show-right { -webkit-transform: translateZ(-100px) rotateY(-90deg); }
#cube.show-left { -webkit-transform: translateZ(-100px) rotateY(90deg); }
#cube.show-top { -webkit-transform: translateZ(-100px) rotateX(-90deg); }
#cube.show-bottom { -webkit-transform: translateZ(-100px) rotateX(90deg); }
#cube.show { -webkit-transform: translateZ(-100px) rotateX(20deg); }


#cube { -webkit-transition: -webkit-transform 1s; }

@-webkit-keyframes testAnimation{
	0% {
		-webkit-transform: translateZ(-100px) rotateX(-360deg) rotateY(-360deg); 
	}
	100% {
		-webkit-transform: translateZ(-100px) rotateX(0deg) rotateY(0deg); 
	}
}