*{
	margin: 0;
	padding: 0;
}
body{
	font-family: AppleGothic;
}
li{
	list-style: none;
}
.center{
	text-align: center;
}
/* Nav with all the week days*/
.nav-days{
	max-width: 840px;
	height: 100px;
	margin: auto;
}
.nav-days li{
	background: #F1C40F;
	
	width: 120px;
	height: 100%;
	display: inline-block;

	float: left;
}
h1, h2{
	color: #fff;
	text-align: center;
}
h1, .day{
	font-size: 48px;
	color: #FFFFFF;
	text-shadow: -6px 3px 4px rgba(0,0,0,0.50);
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.phrase{
	/* Phrase div */
	background: #16A085;
	box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.50);

	width: 100%;
	height: 200px;
	margin-top: 100px;
}