/*Reset*/
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: helvetica;
}
.center{
	text-align: center;
}
/* Colours available */
header h1, 
header .colours-container{
	margin-top: 30px;
}
.colours-container .colour{
	display: inline-block;
	width: 50px;
	height: 50px;

	margin: 0 20px;
	border: 3px solid #ccc;
	border-radius: 3px;
}
/* Background colors for the available colours*/
.colours-container .blue{
	background-color: blue;
}
.colours-container .red{
	background-color:red;
}
.colours-container .white{
	background-color:white;
}
.colours-container .yellow{
	background-color:yellow;
}
.colours-container .green{
	background-color:green;
}
.colours-container .brown{
	background-color:brown;
}
.colours-container .orange{
	background-color:orange;
}
.colours-container .black{
	background-color:black;
}
/*Clicked effect */
.colours-container .clicked{
	border: 3px solid #24CDFF;
	transition: border 0.5s;
}

/* Canvas */
.container{
	margin: 50px 0;
	background-color: #ccc;
	height: 500px;
}
.container div{
	height: 100%;
	width: 25%;
	display: inline-block;
	float: left;
}
.container .rectangle-container div{
	width: 100%;
	height: 50%;
}
.container .circle-container{
	width: 50%;
}
.circle-container .up-down-border{
	width: 100%;
	height: 25%;
}
.circle-container .circle-border{
	width: 25%;
	height: 50%;
}
.circle-container .circle-border-container{
	width: 50%;
	height: 50% !important;
}
.circle-container .circle{
	border-radius: 100%;
	width: 100%;
	height: 100%;
}