*{
	margin: 0;
	padding: 0;
}
html{
	background-color: black;
}
li{
	display: inline-block;
	float: right;
	padding: 10px;
}
a{
	text-decoration: none;
}
.navbar-link{
	color: #444;
}
.navbar-link:hover{
	color: #00FF00;
}
#wrapper{
	font-size: 1.2em;
}
#main{
	color: #FFF;
	text-align: center;
	padding-top: 50px;
}
#rope{
	color: #17bf4c;
}
#rope img{
	position: absolute;
	top: -300px;
	left: 50px;
}
#pull-me{
	position: absolute;
	left: 140px;
	top: 350px;
}
/* Arrow */
#arrow{
	position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-right: 9px solid #17bf4c;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
#arrow:after {
    content: "";
    position: absolute;
    border: 0 solid transparent;
    border-top: 3px solid #17bf4c;
    border-radius: 20px 0 0 0;
    top: -12px;
    left: -9px;
    width: 12px;
    height: 12px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
#pull-me span{
	padding-left: 10px;
}

input{
	height: 30px;
	width: 300px;
}
button{
	background: #12A7A2;
	border-bottom: 1px solid #0e8480;
	border-radius: 3px;	
	color: #FFF;
	font-size: 1.2em;
	height: 30px;
	width: 80px;
}


#text{
	font-family: ArialMT;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 16px;
}