/* GENERAL */
*{
	margin: 0;
	padding: 0;
}
body{
	color: #5f5f5f;
	font-family: Arial;
	letter-spacing: 2px;
}
li{
	list-style: none;
}
.center{
	text-align: center;
}
.right{
	float: right;
}
.clear{
	clear: both;
}
/* NAVBAR */
nav{
	border-bottom: 1px solid #ccc;
	height: 30px;
	width: 100%;
}

nav a{
	font-size: 1.1em;
	color: #5f5f5f;
	text-decoration: none;
}
nav li{
	display: inline-block;
	padding: 5px 10px;
}
nav .right{
	padding-right: 30px;
}
/* MAIN CONTENT */
#wrapper {
	margin-left: 50px;
	margin-right: 50px;
}
h1{
	font-size: 100px;
}
h2{
	font-size: 2em;
}
.orange {
	color: #ff9933;
	font-variant: bold;
}
p{
	font-size: 1.2em;
}
#wrapper div{
	padding: 50px 0;
	border-bottom: 1px solid #ccc;
}